body {
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 121, 1) 35%,
    rgba(255, 0, 31, 1) 100%
  );
  color: #fff;
  text-align: center;
}
h1 {
  text-transform: uppercase;
}

.beast {
  bottom: 15%;
  position: absolute;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}
.gt {
  left: 0;
  position: absolute;
  top: 0;
}
@-webkit-keyframes run {
  0% {
    left: 0;
    bottom: -15;
  }
  50% {
    left: 80%;
    bottom: 50%;
  }
  100% {
    left: 0;
    bottom: -15%;
  }
}
.shame {
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 5s;
}
@-webkit-keyframes zoom {
  0% {
    width: 25%;
    height: 25%;
  }
  100% {
    width: 50%;
    height: 50%;
  }
}
.tt {
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 99999;
  border: 50px dotted green;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.gbg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 15%;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
}

.gbg-container {
  animation: spin 2s linear infinite;
}
